/******************************************************
/* framework.css
/* Developed by Objectnet AS
/* 
/* By using relative measure % (or em) instead of absolute
/* measure px for font-size, it is possible to resize text size in IE.
/******************************************************/

/***** selfregisterlink *****/
#registerLink {
    visibility: hidden;
}

/***** logo styles *****/

.kongsbergregionen {
	position: absolute;
	top: 7px;
	left: 13px;
}

/***** overrides *****/

#toolbar-design {
    background-image: url("../images/logobar_bg_ny.gif");
    background-position: center;
    background-repeat: repeat-x;
    height: 70px;
    position: relative;
    width: 100%;
}

.logo {
    visibility: hidden;
}