@import url(messages.css);
@import url(displaytag.css);

div#frikomport-body * {
    margin: 0;
}

div#frikomport-body .hidden {
    visibility: hidden;
}

div#frikomport-body table {
	font-size: 100%; /* IE5.x fix. Could have used 1.0em; */
}

/*
div#frikomport-body a {
    color: #1b74b2;
}

div#frikomport-body a:visited, 
body#login div#frikomport-body div#menu a:visited  {
    color: #1b74b2;
}

div#frikomport-body a:hover {
    background-color: transparent;
    color: #0000ff; 
    text-decoration: none;
}
*/

div#frikomport-body a img { 
	border: 0 
}

div#frikomport-body a.external{
    background: transparent url(../images/External.png) no-repeat scroll right center;
    padding-right: 13px;
}
/* 0 means zero regardless of measurement */
body div#frikomport-body {
    color: #000000;
    font-size: 0.6em; /* 12px; */
    margin: 0 !important;
    padding: 0 !important;
}

div#frikomport-body button {
  font-size: 1.1em;
}

div#frikomport-body div#activeUsers {
    float: right;
    margin-right: 5px;
    font-size: 0.9em;
    background: transparent;
    color: #000;
}

div#frikomport-body div#fkp-content {
    margin: 0px 10px 10px 1px;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

div#frikomport-body div#fkp-content>p {margin:10px 0px}


div#frikomport-body .searchForm ul {
    padding: 2px;
}

div#frikomport-body .searchForm ul li {
    display: inline;
    white-space: nowrap;
    line-height: 20px;
}
div#frikomport-body .searchForm ul li label {
    margin-left: 4px;
    margin-right: 2px;
}

div#frikomport-body select#organizationid {
    width: 100px;
    max-width: 100px;
}
div#frikomport-body select#serviceAreaid {
    width: 100px;
    max-width: 100px;
}
div#frikomport-body select#categoryid {
    width: 100px;
    max-width: 100px;
}
div#frikomport-body select#courseid {
    width: 280px;
    max-width: 280px;
}

div#frikomport-body div#footer {
    background: transparent;
    border-top: 1px solid #C0C0C0;
    color: #666666;
    font-size: 0.9em;
    margin-top: 30px;
    padding: 5px 0px 10px 20px;
    text-align: left;
}

div#frikomport-body div#footer a, div#footer a:visited {
    background: transparent;
    color: #666666;
}

div#frikomport-body div#footer a:hover {
    background: transparent;
    border-bottom: 1px dashed #FFA500;
    color: #000000;
    text-decoration: none;
}

div#frikomport-body div#header {
    margin: 50px 0px 10px 0px;
    padding: 17px 0px 5px 20px;
    height: 14px; 
    border-style: solid;
    border-color: black;
    border-width: 1px 0px;
    line-height: 11px;
    background-color: #eee;
}

div#frikomport-body div#loginTable {
    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    color: inherit;
    margin: 10px 0px;
    padding: 5px;
    width: 400px;
}

div#frikomport-body div#loginTable th {
    text-align: right;
}

div#frikomport-body div#menuDiv {
    /* position: absolute; */
    /* top: 100px; */
    right: 20px;
    padding: 0px;
    border: 1px dotted #c0c0c0;
    /*line-height: 17px;*/
}

div#frikomport-body div#menuDiv a:visited {
    background: transparent;
    color: black;
}

div#frikomport-body div#menuDiv ul {
    padding-left: 10px;
    margin: 0.7em;
}

div#frikomport-body div#readme {
    background: #ffd;
    border: 1px solid silver;
    color: #008000;
    height: 300px;
    margin-top: 10px;
    overflow: auto;
    padding: 5px;
    width: 600px;
}

div#frikomport-body div#readme pre {
    border: 0;
}

div#frikomport-body div#flags {
    position: absolute;
    left: 20px;
    top: 10px;
}

div#frikomport-body div#userStatus {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 0.9em;
    height: 40px;
    line-height: 1.2;
    text-align: right;
}


div#frikomport-body div#validators {
    float: right;
}

div#frikomport-body div.separator {
    border-bottom: 1px solid green;
    margin: 10px 0px; 
    width: 300px;
}

div#frikomport-body div.standardsNote {
    display: block;
}

div#frikomport-body form, 
div#frikomport-body table {
    margin: 0;
    padding: 0;
}

/* for cool looking "sunken" input boxes, from www.theserverside.com */
div#frikomport-body form input, 
div#frikomport-body form textarea, 
div#frikomport-body form select {
    color: #666;
    font-size: 1.0em;
}

div#frikomport-body form textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#frikomport-body input.button {
    color: #000;
    padding-left: 1px;
    background-image: url(../images/btn_bg.png);
}

div#frikomport-body form input.focus, 
div#frikomport-body form textarea.focus {
    border-color: orange;
    color: #000;
}

div#frikomport-body form select {
    padding-left: 0px;
}

div#frikomport-body h1 {
	margin: 0;
	font-size: 1.25em;
	font-weight: bold;
	color: #5A5A5A;
	border-bottom: 1px dotted #888;
	padding-bottom: 0.9em;
	margin-bottom: 0.4em;
}

div#frikomport-body h2 {
	margin: 0;
	font-size: 1em; /* 10px; */
	font-weight: bold;
	color: #000;
	padding-top: 2px;
}

div#frikomport-body h3 {
    color: #7A786E;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

div#frikomport-body h4 {
    color: #7A786E;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    margin: 8px 0px 8px 0px;
    padding: 0px;
}

div#frikomport-body img.badge {
    border: 0px;
    height: 31px;
    margin-right: 5px;
    width: 88px;
}

div#frikomport-body p {
    font: 12px;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

div#frikomport-body span.attention {
    background: transparent;
    color: #0000ff;
}

/* Labels for validation and label tag */

div#frikomport-body label {
    font-weight: normal;
    cursor: pointer;
}

div#frikomport-body label.required {
    font-weight: bold;
}

div#frikomport-body label.error {
    font-weight: bold;
    background: transparent;
    color: red;
}

/* These are the styles for detail screen tables */
div#frikomport-body table.detail {
    margin-left: 10px;
    padding: 5px;
    font-weight: normal;
}

div#frikomport-body div.screen {
margin:0 0 0 -2px;
}

div#frikomport-body table tbody td button {
  vertical-align: middle;
}


div#frikomport-body table tbody td input.button {
  vertical-align: middle;
}

div#frikomport-body table.detail th {
    text-align: right;
    vertical-align: top;
    margin: 0 !important;
    padding: 0 3px 7px 0 !important;
}

div#frikomport-body table.detail th.tallCell {
    vertical-align: top;
}

div#frikomport-body table.detail td {
    text-align: left;
    vertical-align: top;
    margin: 0 !important;
    padding: 0 !important;
}

div#frikomport-body table.detail td a {
  vertical-align: top;
}

div#frikomport-body table.detail td button {
  vertical-align: middle;
  padding: 0 0 0 0px !important;
  margin: 0 0 0 8px !important;
}

div#frikomport-body table.detail td input.button {
  vertical-align: middle;
  padding: 0 2px 0px 1px !important;
   padding-bottom: 0px !important;
   padding-top: 0px !important;
}

div#frikomport-body table.detail td.moveOptions {
    text-align: center;
    width: 50px;
    padding: 5px;
}

div#frikomport-body table.detail td.moveOptions button {
    margin-bottom: 3px;
    width: 45px;
    white-space: nowrap;
}

div#frikomport-body table.detail td.buttonBar {
    padding-top: 10px;
}

div#frikomport-body table.detail td.updateStatus {
    font-size: 11px;
    color: #c0c0c0;
}

div#frikomport-body fieldset.pickList {
    margin-top: 5px;
    padding: 5px;
    background: transparent;
    border-color: #eee;
}

div#frikomport-body fieldset.pickList legend {
    font-weight: bold;    
}

div#frikomport-body table.pickList {
    padding: 0;
    border-spacing: 0;
}

div#frikomport-body table.pickList th.pickLabel {
    text-align: center;
    background: transparent;
    color: #666;
}

div#frikomport-body table.pickList td {
    text-align: center;
}

div#frikomport-body table.pickList td select {
    width: 150px;
}

div#frikomport-body th, 
div#frikomport-body td, 
div#frikomport-body pre, 
div#frikomport-body code {
    font-size: 1.0em; /* 12px; */
}

div#frikomport-body th label,
div#frikomport-body form label {
	margin: 0;
	font-size: 1.0em; /* 10px; */
	font-weight: bold;
	color: #000;
	padding-top: 2px;
}

div#frikomport-body ul.glassList {
    list-style: url(../images/aquadot.jpg) disc outside;
    vertical-align: top;
    line-height: 1.5;
}

div#frikomport-body pre {
    background: #ffffdd;
    border: 1px solid #999999;
    color: #000000;
    padding: 5px 5px 5px 7px;
}
div#frikomport-body div#fkp-content table th {
	margin: 0;
	font-size: 1.0em; /* 10px; */
	font-weight: bold;
	padding-top: 3px;
	padding-left: 5px;	
	padding-bottom: 4px;
}

div#frikomport-body thead th.sortable {
	background-color: #e2eaef;
}

div#frikomport-body td.canceled, 
div#frikomport-body tr.canceled {
	text-decoration:line-through;
}

div#frikomport-body #loggedin {
	text-align: right;
	font-size: 0.8em;
	float: right;
}

div#frikomport-body tr.sum, 
div#frikomport-body td.sum {
	font-weight:bold;
}
