@CHARSET "ISO-8859-1";

div div#menuDiv {
	right: auto;
	position: static;
	width:995px;
	border: 0px none #000;
	padding: 3px 5px 3px 5px;
}

div#menuDiv ul.menuList {
	margin:0;
	padding:0;
}
	
div#menuDiv ul.menuList li.menubar { 
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	line-height: 1.9;
	display: inline;
}

div#menuDiv ul.menuList li.menubar > a { 
	display:none;
}

div#menuDiv ul.menuList li.menubar > ul.menu {
	margin:0;
	padding:0;
	display:block;
}
	
div#menuDiv ul.menuList li.menubar > ul > li { 
	background-image:none;
	list-style-image:none;
	display: inline;
	
	margin: 0px -1px 0px -2px;
	padding: 4px 5px 4px 5px;
	background-image: url("../images/GraGradient.png");
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #37424A; //5f686E;
	border: 1px dotted #5f686E; //37424A;
	color: #FFFFFF; //FFE8CC;
}

div#menuDiv ul.menuList li.menubar > ul > li:HOVER {
	background-color: #FFE8CC; 
	border-color: #DBDEDF;
	background-image: none;
	color: #F48600;
}

div#menuDiv ul.menuList li.menubar > ul > li > a { 
	padding-left:0;
	color: inherit !important;
}

div#menuDiv ul.menuList li.menubar > ul > li > a.highlight {
	padding: 4px 5px 4px 5px;
	margin: 0 -5px 0 -5px;
	background-color: #FFE8CC; 
	color: #F48600 !important;
	font-weight: normal;
}
 
div#menuDiv ul.menuList li.menubar > ul > li > a:HOVER { 
	text-decoration:none;
	color: inherit !important;
}
