/* These id's are static, so keep the same names */
div#frikomport-body div#menuDiv {
    padding: 0px;
}

div#frikomport-body #menuDiv {
    color: #000;
}

div#frikomport-body #menuList {
    margin: 0px;
    padding: 10px 0px 10px 15px;
}

div#frikomport-body li.menubar {
    background: url(../images/plus.gif) no-repeat 0em 0.3em;
    font-size: 12px;
    line-height: 1.5em;
    list-style: none outside;
}

div#frikomport-body .menu, 
div#frikomport-body .submenu {
    display: none;
    margin-left: 15px;
    padding: 0px;
}

div#frikomport-body .menu li, 
div#frikomport-body .submenu li  {
    background: url(../images/bullet_go.png) no-repeat 0em 0em;
    list-style: none outside;
}

div#frikomport-body li.menubar a.standalone {
    background: url(../images/bullet_go.png) no-repeat 0em 0em !important;
}

div#frikomport-body a.actuator, 
div#frikomport-body a.standalone {
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    text-decoration: none;
}

div#frikomport-body .menu li a, 
div#frikomport-body .submenu li a {
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    text-decoration: none;
}

div#frikomport-body a.actuator:hover, 
div#frikomport-body .menu li a:hover, 
div#frikomport-body submenu li a:hover, 
div#frikomport-body li a.standalone:hover {
    text-decoration: underline;
}

div#frikomport-body span.key {
    text-decoration: underline;
}

div#frikomport-body a.highlight {
    color: red !important;
    font-weight: bold;
}