@CHARSET "ISO-8859-1";

/* 
===============================
Fra default.css
*/
div#frikomport-body * {
    padding: 0;
}

div#frikomport-body form input, 
div#frikomport-body form textarea, 
div#frikomport-body form select {
    padding-left: 4px;
}

body div#frikomport-body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#frikomport-body button {
  background-image: url(../images/btn_bg.png);
  padding: 1px 8px 1px 8px;
}

div#frikomport-body div#fkp-content table th {
	color: #000;
}

/* for cool looking "sunken" input boxes, from www.theserverside.com */
div#frikomport-body form input, 
div#frikomport-body form textarea, 
div#frikomport-body form select {
    padding-left: 4px;
}


div#frikomport-body table.detail td button,
div#frikomport-body table.detail td btn {
  padding: 0 0 0 0px !important;
}

div#frikomport-body table tbody td input.button,
div#frikomport-body table tbody td input.btn {
    vertical-align: middle;
}

div#frikomport-body button, 
div#frikomport-body btn {
  font-size: 1.1em;
}

div#frikomport-body input.button,
div#frikomport-body input.btn {
    color: #000;
    padding-left: 1px;
    background-image: url(../images/btn_bg.png);
}

div#frikomport-body table tbody td button,
div#frikomport-body table tbody td btn {
	  vertical-align: middle;
}

div#frikomport-body table.detail td button,
div#frikomport-body table.detail td btn {
	  vertical-align: middle;
  margin: 1px 0 0 8px !important;
}

div#frikomport-body table.detail td input.button,
div#frikomport-body table.detail td input.btn {
	vertical-align: middle;
	adding: 0 2px 0px 1px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

div#frikomport-body table.detail td.moveOptions button,
div#frikomport-body table.detail td.moveOptions btn {
	    margin-bottom: 3px;
    width: 45px;
    white-space: nowrap;
}



/*
===============================
Fra displaytag.css
*/
div#frikomport-body table.list th {
    color: #000000;
}

