@import url(messages.css);
@import url(displaytag.css);

div#activeUsers, div#header, div#menu, div#validators {
    display:none;
}

div#fkp-content {
	margin: 10px !important;
}

div#footer {
    text-align: center;
}

div.separator {
    border-bottom: 1px solid silver; 
}

h1 {
	color: black;
    text-align: center;
}

ul.glassList {
    list-style: url(../images/aquadot.jpg) disc outside;
    vertical-align: top;
    line-height: 1.5;
}