@CHARSET "ISO-8859-1";

div#PageContainer div#ContentContainer div#content form input[class~="large"],
div#MainContentContainer button[class~="large"]
{
	background-image:url("../images/SVV/buttonLarge.gif");
	width:auto;
	min-width:128px;
}

div#MainContentContainer button {
	background-color:#FFFFFF;
	background-image:url("../images/SVV/buttonMedium.gif");
	background-position:left top;
	background-repeat:no-repeat;
	border:medium none;
	font-size:12px;
	height:27px;
	padding-bottom:0;
	vertical-align:middle;
	width:auto;
	min-width:79px;
}

