<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- For mail settings and future properties files -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:ApplicationResources.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- EzUserDAOJdbc: Ez-publish interface -->

	<!-- EzUserDAOJdbc: ExtUserDAO interface -->
	<bean id="extUserDAO" class="no.unified.soak.dao.jdbc.EzUserDAOJdbc">
    	<property name="dataSource" ref="userEzDataSource"/>
    </bean>


<!--  
    <bean id="extUserDAO" class="no.unified.soak.dao.ws.EzUserDAOWS" autowire="default">
        <property name="endpoint" value="http://localhost:90/nusoap.php/fkpuser"/>
        <property name="roleDAO" ref="roleDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>
-->

<!-- 
    <bean id="extUserDAO" class="no.unified.soak.dao.ws.SVVUserDAOWS" autowire="default">
        <property name="endpoint" value="http://svvjcapsu04.vegvesen.no:18201/ldap_searchemployees/portOppslagSVVAnsattBndPort"/>
        <property name="roleDAO" ref="roleDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>
-->

    <!-- JNDI DataSource for J2EE environments -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <!-- property name="jndiName"><value>java:comp/env/jdbc/soakdb</value></property -->
        <property name="jndiName"><value>java:comp/env/jdbc/soakdb</value></property>
    </bean>

    <bean id="userEzDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName"><value>java:comp/env/jdbc/ezdb</value></property>
    </bean>
</beans>
