/******************************************************
/* framework.css
/* Developed by Objectnet AS
/* 
/* By using relative measure % (or em) instead of absolute
/* measure px for font-size, it is possible to resize text size in IE.
/******************************************************/

/***** selfregisterlink *****/
#registerLink {
    visibility: hidden;
}

/***** logo styles *****/
.logo {
	position: absolute;
	top: 8px;
	left: 13px;
}

.hadsel {
	position: absolute;
	top: 8px;
	left: 190px;
}

.kvafjord {
	position: absolute;
	top: 8px;
	left: 238px;
}

.evenes {
	position: absolute;
	top: 8px;
	left: 286px;
}

.tjeldsund {
	position: absolute;
	top: 8px;
	left: 336px;
}

.oksnes {
	position: absolute;
	top: 8px;
	left: 386px;
}

.harstad {
	position: absolute;
	top: 8px;
	left: 436px;
}