/******************************************************
/* framework.css
/* Developed by Objectnet AS
/* 
/* By using relative measure % (or em) instead of absolute
/* measure px for font-size, it is possible to resize text size in IE.
/******************************************************/

/***** selfregisterlink *****/
#registerLink {
    visibility: hidden;
}

/***** logo styles *****/
.logo {
	position: absolute;
	top: 8px;
	left: 13px;
}

.lillesand {
	position: absolute;
	top: 8px;
	left: 288px;
}

.birkeland {
	position: absolute;
	top: 8px;
	left: 238px;
}

